pre code.hljs {
  display: block;
  overflow-x: auto;
  padding: 1em
}
code.hljs {
  padding: 3px 5px
}

/*!
  Theme: Atelier Cave
  Author: Bram de Haan (http://atelierbramdehaan.nl)
  License: ~ MIT (or more permissive) [via base16-schemes-source]
  Maintainer: @highlightjs/core-team
  Version: 2021.09.0
*/

:root {
  --base00: #efecf4; /* Default Background */
  --base01: #e2dfe7; /* Lighter Background (Used for status bars, line number and folding marks) */
  --base02: #8b8792; /* Selection Background */
  --base03: #7e7887; /* Comments, Invisibles, Line Highlighting */
  --base04: #655f6d; /* Dark Foreground (Used for status bars) */
  --base05: #585260; /* Default Foreground, Caret, Delimiters, Operators */
  --base06: #26232a; /* Light Foreground (Not often used) */
  --base07: #19171c; /* Light Background (Not often used) */
  --base08: #be4678; /* Variables, XML Tags, Markup Link Text, Markup Lists, Diff Deleted */
  --base09: #aa573c; /* Integers, Boolean, Constants, XML Attributes, Markup Link Url */
  --base0A: #a06e3b; /* Classes, Markup Bold, Search Text Background */
  --base0B: #2a9292; /* Strings, Inherited Class, Markup Code, Diff Inserted */
  --base0C: #398bc6; /* Support, Regular Expressions, Escape Characters, Markup Quotes */
  --base0D: #576ddb; /* Functions, Methods, Attribute IDs, Headings */
  --base0E: #955ae7; /* Keywords, Storage, Selector, Markup Italic, Diff Changed */
  --base0F: #bf40bf; /* Deprecated, Opening/Closing Embedded Language Tags, e.g. <?php ?> */
}

@media (prefers-color-scheme: dark) {
  :root {
    --base00: #19171c; /* Default Background */
    --base01: #26232a; /* Lighter Background (Used for status bars, line number and folding marks) */
    --base02: #585260; /* Selection Background */
    --base03: #655f6d; /* Comments, Invisibles, Line Highlighting */
    --base04: #7e7887; /* Dark Foreground (Used for status bars) */
    --base05: #8b8792; /* Default Foreground, Caret, Delimiters, Operators */
    --base06: #e2dfe7; /* Light Foreground (Not often used) */
    --base07: #efecf4; /* Light Background (Not often used) */
    --base08: #be4678; /* Variables, XML Tags, Markup Link Text, Markup Lists, Diff Deleted */
    --base09: #aa573c; /* Integers, Boolean, Constants, XML Attributes, Markup Link Url */
    --base0A: #a06e3b; /* Classes, Markup Bold, Search Text Background */
    --base0B: #2a9292; /* Strings, Inherited Class, Markup Code, Diff Inserted */
    --base0C: #398bc6; /* Support, Regular Expressions, Escape Characters, Markup Quotes */
    --base0D: #576ddb; /* Functions, Methods, Attribute IDs, Headings */
    --base0E: #955ae7; /* Keywords, Storage, Selector, Markup Italic, Diff Changed */
    --base0F: #bf40bf; /* Deprecated, Opening/Closing Embedded Language Tags, e.g. <?php ?> */
  }
}

pre code.hljs {
  display: block;
  overflow-x: auto;
  padding: 1em
}
code.hljs {
  padding: 3px 5px
}
.hljs {
  color: var(--base05);
  background: var(--base00);
}
.hljs::selection,
.hljs ::selection {
  background-color: var(--base02);
  color: var(--base05);
}
/* purposely do not highlight these things */
.hljs-formula,
.hljs-params,
.hljs-property {
  
}
/* Comments, Invisibles, Line Highlighting */
.hljs-comment {
  color: var(--base03);
}
/* Dark Foreground (Used for status bars) */
.hljs-tag {
  color: var(--base04);
}
/* Default Foreground, Caret, Delimiters, Operators */
.hljs-subst,
.hljs-punctuation,
.hljs-operator {
  color: var(--base05);
}
.hljs-operator {
  opacity: 0.7
}
/* Variables, XML Tags, Markup Link Text, Markup Lists, Diff Deleted */
.hljs-bullet,
.hljs-variable,
.hljs-template-variable,
.hljs-selector-tag,
.hljs-name,
.hljs-deletion {
  color: var(--base08);
}
/* Integers, Boolean, Constants, XML Attributes, Markup Link Url */
.hljs-symbol,
.hljs-number,
.hljs-link,
.hljs-attr,
.hljs-variable.constant_,
.hljs-literal {
  color: var(--base09);
}
/* Classes, Markup Bold, Search Text Background */
.hljs-title,
.hljs-class .hljs-title,
.hljs-title.class_ {
  color: var(--base0A);
}
.hljs-strong {
  font-weight: bold;
  color: var(--base0A);
}
/* Strings, Inherited Class, Markup Code, Diff Inserted */
.hljs-code,
.hljs-addition,
.hljs-title.class_.inherited__,
.hljs-string {
  color: var(--base0B);
}
/* Support, Regular Expressions, Escape Characters, Markup Quotes */
/* guessing */
.hljs-built_in,
.hljs-doctag,
.hljs-quote,
.hljs-keyword.hljs-atrule,
.hljs-regexp {
  color: var(--base0C);
}
/* Functions, Methods, Attribute IDs, Headings */
.hljs-function .hljs-title,
.hljs-attribute,
.ruby .hljs-property,
.hljs-title.function_,
.hljs-section {
  color: var(--base0D);
}
/* Keywords, Storage, Selector, Markup Italic, Diff Changed */
/* .hljs-selector-id, */
/* .hljs-selector-class, */
/* .hljs-selector-attr, */
/* .hljs-selector-pseudo, */
.hljs-type,
.hljs-template-tag,
.diff .hljs-meta,
.hljs-keyword {
  color: var(--base0E);
}
.hljs-emphasis {
  color: var(--base0E);
  font-style: italic
}
/* Deprecated, Opening/Closing Embedded Language Tags, e.g. <?php ?> */
/*
  prevent top level .keyword and .string scopes
  from leaking into meta by accident
*/
.hljs-meta,
.hljs-meta .hljs-keyword,
.hljs-meta .hljs-string {
  color: var(--base0F);
}
/* for v10 compatible themes */
.hljs-meta .hljs-keyword,
.hljs-meta-keyword {
  font-weight: bold
}